/* client/src/pages/CoursesPage.css */
.courses-page {
  background-color: var(--neutral-light-gray);
}

.filters-sidebar {
  background-color: var(--neutral-white);
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.05);
  height: fit-content;
}

.filter-group {
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.filter-group:last-child {
  border-bottom: none;
  margin-bottom: 0;
}